body {
    font-family: 'Ubuntu Condensed', sans-serif;
    word-wrap: break-word;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.row {
    margin: 15px;
}
li {
    padding: 10px 15px;
    font-weight: 600;
    text-align: left;
    margin-left: 65px;
    font-size: 14px;
}
.first-span {
    background: #c5c3c0;
    height: 2px;
    width: 25px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.second-span {
    background: #c5c3c0;
    height: 2px;
    width: 13px;
    position: absolute;
    left: 20px;
    top: 28px;
}
.last-span {
    background: #c5c3c0;
    height: 2px;
    width: 20px;
    position: absolute;
    left: 20px;
    top: 36px;
}
.timeline {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}
.eye-icon {
    width: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
}
.circle-date-block {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #76a7ea;
    margin: 20px auto;
    position: relative;
}
.circle-date {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: -moz-linear-gradient(top, #1e5799 0%, #207cca 0%, #2989d8 50%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 0%,#2989d8 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#2989d8 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    position: absolute;
    top: 15px;
    left: 15px;
}
span.date {
    color: #2f4b88;
    font-size: 48px;
    font-style: oblique;
    position: absolute;
    left: 13px;
}
.todolist {
    text-align: center;
    width: 350px;
    -webkit-box-shadow: 0px 3px 31px 5px rgba(118,167,234,0.52);
    -moz-box-shadow: 0px 3px 31px 5px rgba(118,167,234,0.52);
    box-shadow: 0px 3px 31px 5px rgba(118,167,234,0.52);
    border-radius: 10px;
}

.headertodo {
    background: url("../img/clear-skies.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 350px;
    background-position: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.day {
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.full-date {
    color: #fff;
    margin-bottom: 30px;
}
.todo-img {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 20px;
    border-radius: 50%;
}
.todo-time {
    margin-top: 12px;
    margin-left: -23px;
}
.todo-name {
    font-size: 21px;
    text-align: left;
    margin: 0;
}
.todo-description {
    text-align: left;
    opacity: 0.7;
}
.todo-create {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fc3554;
    border: none;
    position: relative;
    top: -25px;
    left: 115px;
}
.todo-add {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fc3554;
    border: none;
    position: relative;
    top: 10px;
    left: 50px;
    color: #fff;
    text-transform: uppercase;
}
.todo-close {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: #fc3554;
    border: none;
    position: relative;
    top: -3px;
    left: 115px;
    color: #fff;
}
p.add {
    color: #fff;
    font-size: 45px;
    line-height: 0;
    margin-top: 3px;
}
.notify {
    padding: 15px;
    border: none;
    color: #999699;
    font-weight: 600;
    opacity: 0.4;
    margin: 5px;
}

.footer {
    height: 50px;
}